.hero-div {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(/imgs/hamburger.jpg);
    background-size: cover;
}
.hero-div p{
    position: absolute;
    border-radius: 10px;
    font-size: 3rem;
    bottom: 20px;
    left: 20px;
    color: rgb(95, 95, 95);
}
@media screen and (max-width:425px){
    
}