.our-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.our-menu .right img {
    width: 90%;
    height: auto;
    margin: 100px 0 100px 54px;
    opacity: .7;
}

.our-menu .left {
    margin: auto;
    margin-left: 0px;

}

.our-menu .left h2 {
    font-size: 48px;
    font-weight: lighter;
    text-align: center;
    margin-left: 16%;
}

.our-menu .left h5 {
    font-size: 30px;
    font-weight: 100;
    margin-top: 28px;
    text-align: left;
    margin-left: 16%;
}

.our-menu .left p {
    margin-top: 28px;
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: larger;
    margin-left: 16%;
}

@media screen and (max-width:1200px) {
    .our-menu .left h2 {
        font-size: 2.5rem;
        font-weight: lighter;
        text-align: center;
        margin-left: 16%;
    }

    .our-menu .left h5 {
        font-size: 1.5rem;
        font-weight: 100;
        margin-top: 20px;
        text-align: left;
        margin-left: 16%;
    }

    .our-menu .left p {
        margin-top: 20px;
        color: rgb(110, 110, 110);
        text-align: left;
        font-size: 18px;
        margin-left: 16%;
    }

    .our-menu .right img {
        width: 90%;
        height: auto;
        margin: 50px 0 50px 54px;
        opacity: .7;
    }
}
@media screen and (max-width:720px) {
    .our-menu {
        grid-template-areas: "image" 
        "contentbox";
    }
    .our-menu .right{
        grid-area: image;
        width: 100%;
    }
    .our-menu .left {
        grid-area: contentbox;
        width: 100vw;
    }
    .our-menu .left h2 {
        font-size: 2rem;
        font-weight: lighter;
        text-align: center;
        margin-left: 16%;
    }
    .our-menu .left h5 {
        font-size: 1rem;
        font-weight: 100;
        margin-top: 20px;
        text-align: left;
        margin-left: 16%;
    }
    .our-menu .left p {
        margin-top: 10px;
        color: rgb(110, 110, 110);
        text-align: left;
        font-size: 14px;
        margin-left: 16%;
    } 
    .our-menu .right img {
        width: 70%;
        height: auto;
        margin: 50px 0 50px 50px;
        opacity: .7;
        transform: rotate(90deg);

    }
}

@media screen and (max-width:425px) {
    .our-menu .left h2 {
        font-size: 2rem;
        font-weight: lighter;
        text-align: center;
        margin-left: 12%;
        margin-top: 15px;
    }

    .our-menu .left h5 {
        font-size: 1rem;
        font-weight: 100;
        margin-top: 15px;
        text-align: left;
        margin-left: 12%;
    }

    .our-menu .left p {
        margin-top: 20px;
        color: rgb(110, 110, 110);
        text-align: left;
        font-size: 14px;
        margin-left: 12%;
    }

    .our-menu .right img {
        display: none;
    }

    .our-menu .right img {
        display: block;
        width: 75%;
        margin: auto;
        opacity: .7;
        transform: rotate(90deg);

    }
}