.contact{
    margin-left: 400px;
}
.contact h2{
    margin-top: 100px;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(247, 40, 40);
}
.contact p{
    font-size: 18px;
    margin-top: 20px;
    margin-right: 60px;
    line-height: 24px;
}
.form{
    margin-top: 30px;
}
.form label{
    font-size: 24px;
}
.form input{
    width: 94%;
    height: 50px;
    padding: 0px 10px;
    font-size: 24px;
}
.btn1{
    margin-top: 20px;
    margin-bottom: 100px;
    width: 94%;
    height: 50px;
    font-size: 20px;
   font-weight: bold;
   background-color: rgb(247, 40, 40);
   color: white;
   border: none;
   cursor: pointer;
}
.btn1:hover{
    background-color: rgb(211, 211, 211);
    color: black;
}






