footer{
    width: 100%;
    background-color: rgb(175, 175, 175);
    padding: 20px;
    margin-top: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}
footer ul{
    list-style: none;
    color: black;
}