.about-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 400px;
}
.about-section .left img{
    width: 75%;
    height: auto;
}
.right h1{
    font-size: 2.5rem;
}
.right h2{
    margin-top: 20px;
    color: rgb(0, 155, 245);
}
.right p{
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
}
.right ol{
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
    margin-left: 17px;
}
.right button{
    width: 50%;
    height: 50px;
    margin-top: 20px;
    border: 3px solid rgb(153, 188, 241);
    background-color:  rgb(0, 155, 245);
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}